.card {
  margin: 1rem;
  /* padding: 1rem; */

  background-color: white;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  border-radius: 5px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card__selected {
  background-color: rgb(43, 183, 118);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__content img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__content h4,
.card__content h5,
.card__content h3 {
  margin: 0;
  font-size: 1.1vw;
}

.card__content h3 {
  font-weight: bold;
}

.card__content h5 {
  font-weight: 500;
}

.age__zip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.age__zip div {
  display: flex;
  align-items: center;
}

.dog__info {
  margin: 0.65rem;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.dog__age {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
