.homepage__navbar {
  display: flex;

  justify-content: space-between;
  background-color: pink;
}

.breeds__filter {
  display: flex;
  gap: 0.5rem;

  flex-wrap: wrap;
}

.breed {
  padding: 10px;

  background-color: rgb(209, 203, 203);
  border-radius: 20px;

  font-size: 10px;

  cursor: pointer;
}
