.homepage__container {
  display: flex;
  flex-direction: column;
}

.homepage__container > h5 {
  text-align: center;

  cursor: pointer;
}
.homepage__container > h5:hover {
  color: rgba(0, 0, 0, 0.391);
}

.homepage__navbar {
  display: flex;

  justify-content: space-between;
  background-color: rgb(37, 37, 37);

  color: white;

  padding: 0rem 0.5rem;
}
.homepage__filters {
  display: flex;
  flex-direction: column;
}

.homepage__filters > p {
  margin: 0.5rem 0.5rem 0rem auto;

  cursor: pointer;
}

.homepage__filters > p:hover {
  color: rgba(0, 0, 0, 0.391);
}

.breeds__filter {
  display: flex;
  gap: 0.5rem;

  flex-wrap: wrap;

  padding: 1rem 0.5rem;
}

.breed {
  padding: 10px;

  background-color: rgb(209, 203, 203);
  border-radius: 20px;

  font-size: 10px;

  cursor: pointer;
}
.breedSelected {
  background-color: rgb(109, 109, 247);
}
.dog_list__container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pagination__buttons {
  display: flex;
  place-self: center;
}

.pagination__buttons button {
  margin: 1rem 0.5rem;
  cursor: pointer;

  /* padding: 1rem; */
  width: 40px;
  aspect-ratio: 1;
  font-size: 20px;

  background: grey;
  border: none;

  border-radius: 50%;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.pagination__buttons button:active {
  /* Click effect styles */
  background-color: #999;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
